{# templates/pdf/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}PDF Content{% endblock %}

{% block body %}
    <h1>PDF Content</h1>
    {# <p>{{facturename}}</p>
    <input type="text" value="{{facturenamevalue}}"> #}
    <pre>{{ html }}</pre>
{% endblock %}
