{# templates/pdf/upload.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Upload PDF{% endblock %}

{% block body %}
    <h1>Upload PDF</h1>

    <form method="post" action="{{ path('upload_pdf') }}" enctype="multipart/form-data">
        <label for="pdf_file">Upload your PDF:</label>
        <input type="file" name="pdf_file" id="pdf_file" accept=".pdf" required>
        <br>
        <button type="submit">Upload</button>
    </form>
{% endblock %}
