body {
    background-color: lightgray;
    border: 2px solid purple;
}

.home-background {
    background-image: url('/assets/img/review.jpg');
    background-size: cover;
    background-position: center;
}

.sliderconteneur {
    max-width: 90%; 
    margin: 0 auto; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    height: 50vh; 
}

.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}


